/*elements body*/
body{
    background-color: dimgrey;
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    text-decoration-color: white;
}

header{
   width:100%;
background:#4E94AB; 
}

 /*contenidor*/
contenidor-general{
   max-width: 100%;
    margin: auto;
    background-color: ghostwhite;
    border-radius: 20px;
}

#menu{
  
  display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover{
    cursor:pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
    
}

.menu li{
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #fff;
}
.menu li:hover{
    background: rgba(0,0,0,0.3);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
@media (max-width:768px){
    
    header label{
        display: block;
    }
    .menu{
    position:absolute;
    background: #4E94AB;
    width: 50%;
    margin-left: -50%;
    transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    
    #menu:checked ~ .menu{
        margin: 0;
    }
}

#contenidor-xxss{
    margin: 5px;
    padding: 5px;
    border: 1px solid orange;
        text-decoration-color: white;

}
#contenidor-flex{
    display:flex;
    margin: 20px;
    border: 1px solid orange; 
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
        text-decoration-color: white;

}     

 
#contenidor-imatge{
    margin: 20px;
    padding: 5px;
    border: 1px solid orange;
        text-decoration-color: white;

}

.imatge1{
    width: 100%;
}
.imatge2{
        width: 100%;
  /*imatges*/ 
}
.imatge3{
        width: 100%;
  /*imatges*/ 
    
}

@media only screen and (max-width:500px){
.imatge1{
        display: none;
}
.imatge2{
    display: block;
    width: 100%;
}
    
}
#footer{
    margin: 20px;
    padding: 5px;
    border: 1px solid orange; 
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
}
#contenidor-text{
    margin: 20px;
    padding: 5px;
    border: 1px solid orange; 
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
        text-decoration-color: white;

}
#contenidor-boto{
    margin: 20px;
    padding: 5px;
    border: 1px solid orange; 
    flex: 1 150px;
}

.fa-instagram{
    color: cadetblue;
    font-size: 30px;
    margin: 12px;
    
}
.item{
    flex:1 150px;
    border:1px solid red;

}
.container{
    flex-wrap: nowrap | wrap | wrap-reverse;
}
.item{
    align-self: auto | flex-start | flex-end | center | baseline | stretch;

}
.container{
    align-content: flex-start | flex-end | center | space-between | space-around | stretch;
}
#contenidor-titol{
   margin: 5px;
    padding: 5px;
    text-align: center;
    flex-wrap: wrap;
    border: 1px solid orange;

}
#contenidor-dadespersonals{
    margin: 20px;
    border: 1px solid orange; 
    flex-wrap: wrap;
    text-align: center;
     border-radius: 20px;
        text-decoration-color: white;

}
#contenidor-formacio{
     margin: 20px;
    border: 1px solid orange; 
    flex-wrap: wrap;
    text-align: center;
     border-radius: 20px;
        text-decoration-color: white;

}
#contenidor-experiencia{
     margin: 20px;
    border: 1px solid orange; 
    flex-wrap: wrap;
    text-align: center;
     border-radius: 20px;
        text-decoration-color: white;

}
#contenidor-idiomes{
     margin: 20px;
    border: 1px solid orange; 
    flex-wrap: wrap;
    text-align: center;
     border-radius: 20px;
        text-decoration-color: white;

}
#contenidor-informatica{
    margin: 20px;
    border: 1px solid orange; 
    flex-wrap: wrap;
    text-align: center; 
     border-radius: 20px;
        text-decoration-color: white;

}
#contenidor-altresdades{
     margin: 20px;
    border: 1px solid orange; 
    flex-wrap: wrap;
    text-align: center;
     border-radius: 20px;
        text-decoration-color: white;

}
#contenidor-feines{
        margin: 20px;
    padding: 5px;
    border: 1px solid orange;
     border-radius: 20px;
        text-decoration-color: white;

}
container-slider {
 width: 75%;
 border: 1px solid red;
 box-sizing: border-box;
 text-align: center;
      margin: 20px;
    border: 1px solid orange; 
        text-decoration-color: white;

}
.container-display {
 position: relative;
 width: 98%;
 /*indicador*/
   margin: 20px;
    border: 1px solid orange; 
        text-decoration-color: white;
         border-radius: 30px;


}
.boton-slider {
 width: 30px;
 height: 30px;
 background-color: grey;
    
}
.boton-slider:hover {
 width: 30px;
 height: 30px;
 background-color: ghostwhite;
}
.fletxaDreta-slider {
 position: absolute;
 top: 50%;
 left: 0%;
 transform: translate(0%, -50%);
 */
}
.fletxaEsquerra-slider {
 position: absolute;
 top: 50%;
 right: 0%;
 transform: translate(0%, -50%);
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #030321;
  font-family: Arial;
}

svg {
    font: 10.5em 'Montserrat';
    width: 100%;
    height: 300px;
    margin: 0 auto;
        flex-wrap: wrap;
        display:flex;


}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
      margin: 20px;
    border: 1px solid orange; 
    flex-wrap: wrap;
    text-align: center;
     border-radius: 20px;
}

.text-copy:nth-child(1){
	stroke: #2E64FE;
	animation-delay: -1;
    flex-wrap: wrap;
}

.text-copy:nth-child(2){
	stroke:  #BD0034;
	animation-delay: -2s;
        flex-wrap: wrap;

}

.text-copy:nth-child(3){
	stroke: #FDB731 ;
	animation-delay: -3s;
        flex-wrap: wrap;

}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
        flex-wrap: wrap;

}

.text-copy:nth-child(5){
	stroke:  #2E64FE;
	animation-delay: -5s;
        flex-wrap: wrap;

}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

s-text{
   width:100%;
}

.intro{
    display: flex;
    margin:auto;
    max-width: 100%;
    
}

#texto{
       border: 1px solid orange; 
    flex-wrap: wrap;
    text-align: center;
     border-radius: 30px;
        text-decoration-color: white;
           
float:left;
        width: 500px;
    font-size: 30px;
    max-width: 100%;
  

    
    

}
#foto{
      border: 1px solid orange; 
    flex-wrap: wrap;
    text-align: center;
     border-radius: 30px;
        text-decoration-color: white;
           
float: right;
    width: 500px;
    max-width: 100%;
  

    
        
}

#dni{
    width: 68%;
    height: 70%;
    flex:end;

    

}
.wrapper {
    width: 720px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.video{
    max-width: 100%;
}

.mySlides{
    margin: auto;
}    

