/* estructura campus, barra menu i iframe general */

body, html, #container-base, #cont {
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	background-color: #ffffff;
	overflow: hidden;
}

#general
{
	position: relative;
	padding: 0;
	border: 0px solid red;
	width: 100%;
}

#nav-sigma .navbar-header {
    float: left;
}

#nav-sigma .navbar-nav > li {
    float: left;
}

#nav-sigma {
	background-image: none;
	background-color: white;
	padding-right: 10px;
}